.area-coverage-grid {
    padding-bottom: var(--section-space-210);
}

/* .area-coverage-grid__inner {
    display: grid;
    gap: var(--space-lg);
} */

.area-coverage-grid__header {
    display: grid;
    gap: var(--space-lg);
    justify-items: center;
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
}

.area-coverage-grid__heading {
    margin: 0;
    font-family: var(--font-heading);
    font-size: var(--h1);
    line-height: var(--lh-xxl);
    color: var(--text);
}

.area-coverage-grid__description {
    max-width: 760px;
    color: rgba(255, 255, 255, 0.84);
    font-size: 1rem;
    line-height: 1.8;
}

.area-coverage-grid__description p {
    font-size: var(--h6);
    line-height: var(--lh-xs);
}

.area-coverage-grid__description>*:first-child {
    margin-top: 0;
}

.area-coverage-grid__description>*:last-child {
    margin-bottom: 0;
}

.area-coverage-grid__areas {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-md) var( --space-lg);
    text-align: center;
    padding-top: var(--space-md);
}

.area-coverage-grid__area {
    font-size: var(--h5);
    line-height: var(--lh-xs);
    color: var(--text);
}

.area-coverage-grid__actions {
    display: flex;
    justify-content: center;
     padding-top: var(--space-lg);
}

.area-coverage-grid__cta {
    text-align: center;
    white-space: unset;

}

@media (max-width: 1024px) {
    .area-coverage-grid__areas {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 767px) {
    .area-coverage-grid {
        padding-bottom: var(--space-lg) 0;
    }

    .area-coverage-grid__areas {
        grid-template-columns: 1fr;
    }

    .area-coverage-grid__area {
        font-size: 1.15rem;
    }
}