/* Apply only to selected pages */
body.page-slug-privacy-policy #site-content,
body.page-slug-shipping-returns #site-content,
body.page-slug-terms-of-service #site-content,
body.page-slug-bulk-ordering #site-content,
body.page-slug-request-quote #site-content,
body.single-resources #site-content {
    padding-bottom: var(--section-space-210);
}

/* Headings H1*/
body.page-slug-privacy-policy #site-content h1,
body.page-slug-shipping-returns #site-content h1,
body.page-slug-terms-of-service #site-content h1,
body.page-slug-bulk-ordering #site-content h1,
body.page-slug-request-quote #site-content h1,
body.single-resources #site-content h1 {
    margin-block: 48px 30px;
}

body.page-slug-request-quote #site-content .faq-accordion-block h2 {
    margin-block: unset !important;
}

/* Headings H2*/
body.page-slug-privacy-policy #site-content h2,
body.page-slug-shipping-returns #site-content h2,
body.page-slug-terms-of-service #site-content h2,
body.page-slug-bulk-ordering #site-content h2,
body.page-slug-request-quote #site-content h2,
body.single-resources #site-content h2 {
    margin-block: 80px 20px;
}

/* h3 */
body.page-slug-privacy-policy #site-content h3,
body.page-slug-shipping-returns #site-content h3,
body.page-slug-terms-of-service #site-content h3,
body.page-slug-bulk-ordering #site-content h3,
body.page-slug-request-quote #site-content h3,
body.single-resources #site-content h3 {
    margin-block: 20px 16px;
}

/* Paragraph */
body.page-slug-privacy-policy #site-content p,
body.page-slug-shipping-returns #site-content p,
body.page-slug-terms-of-service #site-content p,
body.page-slug-bulk-ordering #site-content p,
body.page-slug-request-quote #site-content p,
body.single-resources #site-content p {
    color: var(--text) !important;
    margin-bottom: 12px;
}

/* hr */
body.page-slug-privacy-policy #site-content hr,
body.page-slug-shipping-returns #site-content hr,
body.page-slug-terms-of-service #site-content hr,
body.page-slug-bulk-ordering #site-content hr,
body.page-slug-request-quote #site-content hr,
body.single-resources #site-content hr {
    margin-block: var(--space-xsm);
}

/* ul */
body.page-slug-privacy-policy #site-content ul,
body.page-slug-shipping-returns #site-content ul,
body.page-slug-terms-of-service #site-content ul,
body.page-slug-bulk-ordering #site-content ul,
body.page-slug-request-quote #site-content ul,
body.single-resources #site-content ul {
    padding-left: 0.8rem;
    font-size: var(--h6);
}

/* People section */
body.page-slug-privacy-policy .people-behind,
body.page-slug-shipping-returns .people-behind,
body.page-slug-terms-of-service .people-behind,
body.page-slug-bulk-ordering .people-behind,
body.page-slug-request-quote .people-behind {
    padding-bottom: var(--section-space-210);
}

/* Remove last section spacing */
body.page-slug-privacy-policy #site-content>section:last-child,
body.page-slug-shipping-returns #site-content>section:last-child,
body.page-slug-terms-of-service #site-content>section:last-child,
body.page-slug-bulk-ordering #site-content>section:last-child,
body.page-slug-request-quote #site-content>section:last-child,
body.single-resources #site-content>section:last-child {
    padding-bottom: 0 !important;
}

/* FAQ block spacing */
body.page-slug-privacy-policy #site-content .faq-accordion-block,
body.page-slug-shipping-returns #site-content .faq-accordion-block,
body.page-slug-terms-of-service #site-content .faq-accordion-block,
body.page-slug-bulk-ordering #site-content .faq-accordion-block,
body.page-slug-request-quote #site-content .faq-accordion-block,
body.single-resources #site-content .faq-accordion-block {
    padding-block: 8.5rem;
}

.page-template-default.page-slug-about-us>.title-description-columns,
.page-template-default.page-slug-locations .service-links-grid {
    padding-top: 2rem;

}

.page-template-default.page-slug-faq .title-description-columns .title-description-columns__split {
    display: block !important;
}

.faq-item:has(.question-text:empty) {
    display: none;
}

/* Mobile fix */
@media (max-width: 767px) {

    body.page-slug-privacy-policy #site-content,
    body.page-slug-shipping-returns #site-content,
    body.page-slug-terms-of-service #site-content,
    body.page-slug-bulk-ordering #site-content,
    body.page-slug-request-quote #site-content,
    body.single-resources #site-content {
        padding-bottom: var(--space-lg);
    }
}